body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 15px; /* Увеличиваем отступы для лучшего отображения */
    text-align: center;
    vertical-align: top; /* Выравниваем содержимое по верхнему краю */
    width: 50%; /* Равномерное распределение ячеек */
}

td img {
    max-width: 100%; /* Изображение не будет превышать ширину ячейки */
    height: auto; /* Сохраняем пропорции */
    display: block;
    margin: 0 auto 10px; /* Центрируем изображение и добавляем отступ снизу */
}

td p {
    margin: 0;
    font-size: 14px;
    text-align: center; /* Центрируем текст */
}

td:hover {
    background-color: #f9f9f9;
}